version: "3.7"

services:
  app_proxy:
    environment:
      APP_HOST: mediarr-sonarr-serien_sonarr-serien_1
      APP_PORT: 8989
      PROXY_AUTH_WHITELIST: "/api/*"

  sonarr-serien:
    image: linuxserver/sonarr:latest
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - ${APP_DATA_DIR}/data/config:/config
      - ${UMBREL_ROOT}/data/storage/downloads:/downloads
    restart: on-failure
